@use "../abstract/" as *;

.btn {
  border: none;
  &:hover {
    border: none;
  }
  &.btn-secondary {
    color: $text;
    background-color: transparent;
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

    &:hover {
      background-color: rgba($color: $secondary-hover, $alpha: 1);
    }

    i {
      color: $accent;
    }
  }

  &.btn-primary {
    background-color: $accent;
    &:hover {
      background-color: rgba($color: $accent-hover, $alpha: 1);
    }
  }

  &.btn-icon,
  &.btn-icon-lg {
    line-height: 0;
    padding: 0.5rem;
    i {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 1.2em;
      aspect-ratio: 1/1;
      font-size: 1.2em;
    }
    &-lg i {
      font-size: 1.5em;
    }
  }
}
