@use "../abstract/_colors" as *;
@use "../abstract/_variables" as *;

.timer-container {
  max-width: 800px;
  background-color: $light;
  border-radius: $border-radius;
  border: 1px solid $text;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-height: 80vh;

  .timer-buttons button[type="button"] {
    min-height: 75px !important;
  }
}
