$bg-gradient: linear-gradient(90deg, #ffeb3a 0%, #4def8e 100%);
$primary: #eedad1;
// $secondary: #c6bec3;
$secondary: #fff;
$text: #2f140a;
$accent: #383e56;
$success: #9ec349;
$warning: #ff9d76;
$danger: #eb4d55;
$light: #f6e1e1;
$dark: #2f140a;

$accent-hover: #2f3346;
// $secondary-hover: #d6cdd3;
$secondary-hover: #c4cdee;
