$bg-body: #053a64;

$primary: #eedad1;
$secondary: #fff;
$text: #fff;
$accent: #f78e57;
$success: #9ec349;
$warning: #ff9d76;
$danger: #eb4d55;
$light: #f6e1e1;
$dark: #2f140a;

$accent-hover: #2f3346;
// $secondary-hover: #d6cdd3;
$secondary-hover: #c4cdee;

$bg-card: #2a5095;
$card-border: #5580ce;
$bg-card-icon: #1e1726;
