@use "../abstract/variables" as var;
@use "../abstract/colors" as color;

.cursor-pointer {
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  &:hover {
    cursor: pointer;
  }
  &.border-light:hover {
    border-color: color.$dark !important;
  }
}

.clickable {
  box-shadow: var.$box-shadow;
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-bottom: 6px;
  margin-right: 6px;
  &:hover,
  &:active {
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    background-color: rgba($color: color.$accent-hover, $alpha: 1) !important;
    color: color.$hover-accent-text;
    box-shadow: 1px 1px 0px 3px color.$shadow-card;
    transform: translate(3px, 3px);
  }
}
