@use "../abstract/" as *;

body {
  // background-image: $bg-gradient;
  background-color: $bg-body !important;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text;
  }
}

#app {
  margin: 0;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  min-width: 100%;
}
