@use "../abstract/" as *;
@use "../bootstrap/" as *;
@use "../base/" as *;

.btn {
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: $border-radius;
  border: none;
  @extend .fs-4;
  &:hover {
    border: none;
  }
  &-sm {
    @extend .btn;
    @extend .fs-5;
  }
  &-md {
    @extend .btn;
    @extend .fs-3;
  }
  &-lg {
    @extend .btn;
    @extend .fs-2;
  }
  &-xl {
    @extend .btn;
    @extend .fs-1;
  }
  &.btn-icon {
    line-height: 0;
    padding: 0.5rem;
    i {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 1.2em;
      aspect-ratio: 1/1;
      font-size: 1.2em;
    }
    &-md {
      @extend .btn-icon;
      @extend .fs-3;
    }
    &-lg {
      @extend .btn-icon;
      @extend .fs-2;
    }
    &-xl {
      @extend .btn-icon;
      @extend .fs-1;
    }
  }
}

// REFACTORING: avoid every .btn.btn-primary
.btn-secondary {
  @extend .btn;
  color: $accent;
  background-color: $bg-body;
  &:hover {
    background-color: rgba($color: $accent-hover, $alpha: 1);
    color: $hover-accent-text;
  }
}

.btn-primary {
  @extend .btn;
  background-color: $accent;
  &:hover {
    background-color: rgba($color: $accent-hover, $alpha: 1);
    color: $hover-accent-text;
  }
}
