@use "../bootstrap/" as *;
@use "../abstract/" as *;

.countdown-container {
  font-family: "Digital Numbers", sans-serif;
  background-color: #053a64;
  border-radius: $border-radius;
  padding: 3rem;
  color: $text;
}
