@use "../abstract/" as *;
@use "../bootstrap/" as *;

.modal-container {
  overflow-y: scroll;
  overflow-x: hidden;
  // background-color: $bg-body;
  background-color: $bg-card;
  color: white;

  //center
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);

  //size
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  max-width: 800px;

  padding: 2rem;
  border-radius: $border-radius;
  scrollbar-width: none;

  &-sm {
    @extend .modal-container;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    max-height: 500px;
  }
  &-lg {
    @extend .modal-container;
    max-width: 1200px;
  }

  &-flex {
    @extend .d-flex;
    @extend .flex-column;
  }
}

.modal-overlay {
  position: absolute;
  background-color: rgba($color: #000, $alpha: 0.5);
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  min-height: 100%;
}
