@use "../abstract/colors" as color;
@use "../abstract/variables" as var;

.modal-container {
  overflow-y: scroll;
  overflow-x: hidden;

  background-color: color.$primary;
  color: white;

  //center
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);

  //size
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  max-width: 800px;

  padding: 2rem;
  border-radius: var.$border-radius;
  scrollbar-width: none;

  &-sm {
    @extend .modal-container;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    max-height: 500px;
  }
  &-lg {
    @extend .modal-container;
    max-width: 1200px;
  }

  &-flex {
    display: flex;
    flex-flow: column;
  }
}

.modal-overlay {
  position: absolute;
  background-color: rgba($color: black, $alpha: 0.6);
  left: 0;
  top: 0;
  width: 100vw;
  min-height: 100vh;
  min-height: 100%;
}
