// @use "../bootstrap/bootstrap.scss" as *;

$primary: #eedad1;
$secondary: #c6bec3;
$text: #2f140a;
$neutral: #f6e1e1;
$accent: #383e56;
$destructive: #eb4d55;
$progressive: #9ec349;

$accent-hover: #2f3346;
$secondary-hover: #d6cdd3;
